.nav-active{
    background-color: #D37E00;
    padding:8px 20px 8px 20px;
    border-radius: 50px;
    color: white;
}
.hero-landing{
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 50%;
}
.hero-landing .hero-title{
    opacity: 100%;
}

.border-kompetensi{
    border: 1px solid #D37E00;
}


.btn-pelajari{
    background-color: #D37E00;
    color: white;
    transition: all .2s;
}

.btn-pelajari:hover{
    background-color: #a16100;
    color: white;
}